---
import "@linwooddev/style/scss/main.scss";
import Layout from "../layouts/Layout.astro";

const appName = import.meta.env.VITE_APP_NAME;
const appLaunchUrl = import.meta.env.VITE_APP_LAUNCH_URL;
const appDownloadUrl = import.meta.env.VITE_APP_DOWNLOAD_URL;
---

<Layout title={`Launch ${appName}`}>
  <main class="col align-center justify-center container-md h-full">
    <div class="pb-md col align-center">
      <h1 class="title mt-none">Launch {appName}</h1>
      <p>
        On mobile it should start automatically. If not, look in the address bar
        for the app icon and tap it.
      </p>
    </div>
    <div class="row align-center wrap gap-xs">
      <a class="btn primary" href={appLaunchUrl}>Launch on desktop</a>
      <a class="btn secondary" href={appDownloadUrl} target="_blank"
        >Download {appName}</a
      >
    </div>
    <hr class="mv-md" />
    <a
      class="card paper pv-xs ph-sm row gap-xs align-center bold"
      href="https://linwood.dev"
      target="_blank"
    >
      <img src="/favicon.svg" width="32" alt="Linwood logo" />
      Linwood
    </a>
  </main>
</Layout>
